In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"data\vgsales_clean.csv")

In [4]:
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df['Name'][df['Year_of_Release'] > 2016]

5936                               Imagine: Makeup Artist
14086    Phantasy Star Online 2 Episode 4: Deluxe Package
16222    Phantasy Star Online 2 Episode 4: Deluxe Package
16385                    Brothers Conflict: Precious Baby
Name: Name, dtype: object

In [6]:
df.iloc[14086]

Name               Phantasy Star Online 2 Episode 4: Deluxe Package
Platform                                                        PS4
Year_of_Release                                              2017.0
Genre                                                  Role-Playing
Publisher                                                      Sega
NA_Sales                                                        0.0
EU_Sales                                                        0.0
JP_Sales                                                       0.04
Other_Sales                                                     0.0
Global_Sales                                                   0.04
Critic_Score                                                    NaN
Critic_Count                                                    NaN
User_Score                                                      NaN
User_Count                                                      NaN
Developer                                                       NaN
Rating                                                          NaN
Name: 14086, dtype: object

In [7]:
df['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy', nan], dtype=object)

In [8]:
df[df['Year_of_Release'] > 2016]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
5936,Imagine: Makeup Artist,DS,2020.0,Simulation,Ubisoft,0.27,0.0,0.00,0.02,0.29,NaN,NaN,tbd,NaN,Ubisoft,E
14086,Phantasy Star Online 2 Episode 4: Deluxe Package,PS4,2017.0,Role-Playing,Sega,0.00,0.0,0.04,0.00,0.04,NaN,NaN,NaN,NaN,NaN,NaN
16222,Phantasy Star Online 2 Episode 4: Deluxe Package,PSV,2017.0,Role-Playing,Sega,0.00,0.0,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16385,Brothers Conflict: Precious Baby,PSV,2017.0,Action,Idea Factory,0.00,0.0,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_pulito = df[df['Year_of_Release'] < 2016]

In [10]:
df_pulito[df_pulito['Year_of_Release'] > 2014]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
31,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,6.03,5.86,0.36,2.38,14.63,NaN,NaN,NaN,NaN,NaN,NaN
77,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.12,6.12,0.06,1.28,8.57,82.0,42.0,4.3,896.0,EA Sports,E
87,Star Wars Battlefront (2015),PS4,2015.0,Shooter,Electronic Arts,2.99,3.49,0.22,1.28,7.98,NaN,NaN,NaN,NaN,NaN,NaN
99,Call of Duty: Black Ops 3,XOne,2015.0,Shooter,Activision,4.59,2.11,0.01,0.68,7.39,NaN,NaN,NaN,NaN,NaN,NaN
105,Fallout 4,PS4,2015.0,Role-Playing,Bethesda Softworks,2.53,3.27,0.24,1.13,7.16,87.0,58.0,6.5,4228.0,Bethesda Game Studios,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16601,Saints Row: Gat out of Hell,XOne,2015.0,Action,Deep Silver,0.00,0.01,0.00,0.00,0.01,65.0,16.0,6,27.0,Volition Inc.,M
16612,Mario & Luigi: Paper Jam & Mario Kart 7 Double...,3DS,2015.0,Misc,Nintendo,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16614,Kiniro no Corda 3,3DS,2015.0,Adventure,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16622,Xblaze: Lost Memories,PSV,2015.0,Adventure,Arc System Works,0.01,0.00,0.00,0.00,0.01,NaN,NaN,7,8.0,Arc System Works,M
16666,Hakuoki: Reimeiroku - Omouhase Kara,PSV,2015.0,Action,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_pulito.isna().sum()

Name                  2
Platform              0
Year_of_Release       0
Genre                 2
Publisher            30
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8193
Critic_Count       8193
User_Score         6401
User_Count         8743
Developer          6350
Rating             6456
dtype: int64

In [12]:
df_pulito[df_pulito['Name'].isna()]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
659,NaN,GEN,1993.0,NaN,Acclaim Entertainment,1.78,0.53,0.00,0.08,2.39,NaN,NaN,NaN,NaN,NaN,NaN
14246,NaN,GEN,1993.0,NaN,Acclaim Entertainment,0.00,0.00,0.03,0.00,0.03,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_pulito.isna()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16711,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True
16712,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True
16713,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True
16715,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True
16717,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True

In [14]:
df_pulito[df_pulito['Name'] == "Overwatch"]

Empty DataFrame
Columns: [Name, Platform, Year_of_Release, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales, Critic_Score, Critic_Count, User_Score, User_Count, Developer, Rating]
Index: []

In [15]:
df.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

In [16]:
df_pulito[df_pulito['Year_of_Release'] < 2000]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN
12,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16543,Grand Prix Legends,PC,1997.0,Racing,Vivendi Games,0.00,0.01,0.00,0.00,0.01,NaN,NaN,7.5,6.0,Papyrus,E
16611,Samurai Shodown: Warrios Rage,PS,1999.0,Fighting,SNK,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16670,Psychic Detective,PS,1995.0,Adventure,Electronic Arts,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16685,Worms 2,PC,1997.0,Strategy,Microprose,0.00,0.01,0.00,0.00,0.01,NaN,NaN,8.1,12.0,Team 17,K-A
16698,Carmageddon 64,N64,1999.0,Action,Virgin Interactive,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Colonne da controllare
cols = ['Critic_Score', 'Critic_Count', 'User_Score', 'User_Count', 'Rating']

# Filtra le righe con almeno un valore mancante nelle colonne indicate
righe_vuote = df_pulito[df_pulito[cols].isna().any(axis=1)]

# Raggruppa per anno e conta quante righe mancano
mancanti_per_anno = (
    righe_vuote
    .groupby('Year_of_Release')
    .size()
    .reset_index(name='missing_rows')
)

mancanti_per_anno

    Year_of_Release  missing_rows
0            1980.0             9
1            1981.0            46
2            1982.0            36
3            1983.0            17
4            1984.0            14
5            1985.0            13
6            1986.0            21
7            1987.0            16
8            1988.0            14
9            1989.0            17
10           1990.0            16
11           1991.0            41
12           1992.0            42
13           1993.0            62
14           1994.0           120
15           1995.0           219
16           1996.0           256
17           1997.0           276
18           1998.0           354
19           1999.0           308
20           2000.0           248
21           2001.0           226
22           2002.0           374
23           2003.0           277
24           2004.0           286
25           2005.0           377
26           2006.0           478
27           2007.0           607
28           2008.0           835
29           2009.0           876
30           2010.0           826
31           2011.0           682
32           2012.0           340
33           2013.0           278
34           2014.0           328
35           2015.0           395

In [18]:
# Colonne da controllare
cols = ['Critic_Score', 'Critic_Count', 'User_Score', 'User_Count', 'Rating']

# Filtra le righe con almeno un valore mancante nelle colonne indicate
righe_vuote = df_pulito[df_pulito[cols].isna().any(axis=1)]

# Definisci i bin (fasce di anni)
bins = [-float('inf'), 1999, 2006, 2012, 2015]
labels = ['<2000', '2000-2006', '2007-2012', '2013-2015']

# Crea una nuova colonna con il range di appartenenza
righe_vuote['Year_Range'] = pd.cut(righe_vuote['Year_of_Release'], bins=bins, labels=labels)

# Raggruppa per range e conta le righe
mancanti_per_range = (
    righe_vuote
    .groupby('Year_Range')
    .size()
    .reset_index(name='missing_rows')
)

mancanti_per_range

C:\Users\LorenzoAnog\AppData\Local\Temp\ipykernel_9988\2914533912.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  righe_vuote['Year_Range'] = pd.cut(righe_vuote['Year_of_Release'], bins=bins, labels=labels)
C:\Users\LorenzoAnog\AppData\Local\Temp\ipykernel_9988\2914533912.py:17: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby('Year_Range')

  Year_Range  missing_rows
0      <2000          1897
1  2000-2006          2266
2  2007-2012          4166
3  2013-2015          1001

In [19]:
# Colonne da controllare
cols = ['Critic_Score','User_Score']

# Filtra le righe con almeno un valore mancante nelle colonne indicate
righe_vuote = df_pulito[df_pulito[cols].isna().any(axis=1)]

# Definisci i bin (fasce di anni)
bins = [-float('inf'), 1999, 2006, 2012, 2015]
labels = ['<2000', '2000-2006', '2007-2012', '2013-2015']

# Crea una nuova colonna con il range di appartenenza
righe_vuote['Year_Range'] = pd.cut(righe_vuote['Year_of_Release'], bins=bins, labels=labels)

# Raggruppa per range e conta le righe
mancanti_per_range = (
    righe_vuote
    .groupby('Year_Range')
    .size()
    .reset_index(name='missing_rows')
)

mancanti_per_range

C:\Users\LorenzoAnog\AppData\Local\Temp\ipykernel_9988\788709888.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  righe_vuote['Year_Range'] = pd.cut(righe_vuote['Year_of_Release'], bins=bins, labels=labels)
C:\Users\LorenzoAnog\AppData\Local\Temp\ipykernel_9988\788709888.py:17: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby('Year_Range')

  Year_Range  missing_rows
0      <2000          1887
1  2000-2006          1638
2  2007-2012          3726
3  2013-2015           975

In [20]:
# Colonne da controllare
cols = ['Critic_Score', 'Critic_Count', 'User_Score', 'User_Count', 'Rating']

# Filtra le righe con almeno un valore mancante
righe_vuote = df_pulito[df_pulito[cols].isna().any(axis=1)]

# Raggruppa per genere e conta le righe mancanti
mancanti_per_genere = (
    righe_vuote
    .groupby('Genre')
    .size()
    .reset_index(name='missing_rows')
    .sort_values('missing_rows', ascending=False)
)

mancanti_per_genere

           Genre  missing_rows
0         Action          1566
10        Sports          1338
3           Misc          1310
1      Adventure          1004
7   Role-Playing           735
6         Racing           636
9     Simulation           548
4       Platform           470
2       Fighting           453
5         Puzzle           450
8        Shooter           421
11      Strategy           397

In [21]:
# Colonne da controllare
cols = ['Critic_Score', 'Critic_Count', 'User_Score', 'User_Count', 'Rating']

# Filtra le righe con almeno un valore mancante nelle colonne indicate
righe_vuote = df_pulito[df_pulito[cols].isna().any(axis=1)]

# Raggruppa per console (Platform) e conta le righe mancanti
mancanti_per_publisher = (
    righe_vuote
    .groupby('Platform')
    .size()
    .reset_index(name='missing_rows')
    .sort_values('missing_rows', ascending=False)
)

mancanti_per_publisher

   Platform  missing_rows
4        DS          1657
15       PS          1040
16      PS2           987
26      Wii           806
19      PSP           803
6       GBA           574
17      PS3           499
28     X360           361
2       3DS           321
10      N64           316
13       PC           288
23     SNES           239
29       XB           238
20      PSV           236
7        GC           194
21      SAT           173
0      2600           116
11      NES            98
5        GB            97
18      PS4            81
30     XOne            56
27     WiiU            52
3        DC            38
8       GEN            29
12       NG            12
25       WS             6
22      SCD             6
1       3DO             3
24     TG16             2
14     PCFX             1
9        GG             1

In [22]:
# Colonne da controllare
cols = ['Critic_Score', 'Critic_Count', 'User_Score', 'User_Count', 'Rating']

# Filtra le righe con almeno un valore mancante nelle colonne indicate
righe_vuote = df_pulito[df_pulito[cols].isna().any(axis=1)]

# Raggruppa per console (Platform) e conta le righe mancanti
mancanti_per_publisher = (
    righe_vuote
    .groupby('Publisher')
    .size()
    .reset_index(name='missing_rows')
    .sort_values('missing_rows', ascending=False)
)

mancanti_per_publisher

                        Publisher  missing_rows
315            Namco Bandai Games           663
251  Konami Digital Entertainment           573
20                     Activision           472
468                       Ubisoft           422
437                           THQ           405
..                            ...           ...
30                         Altron             1
32             American Softworks             1
466                   UEP Systems             1
470               Universal Gamex             1
475                           Vap             1

[511 rows x 2 columns]

In [23]:
# Colonne da controllare
cols = ['Critic_Score', 'Critic_Count', 'User_Score', 'User_Count', 'Rating']

# Filtra le righe con almeno un valore mancante nelle colonne indicate
righe_vuote = df_pulito[df_pulito[cols].isna().any(axis=1)]

# Raggruppa per console (Platform) e conta le righe mancanti
mancanti_per_publisher = (
    righe_vuote
    .groupby('Publisher')
    .size()
    .reset_index(name='missing_rows')
    .sort_values('missing_rows', ascending=False)
)

mancanti_per_publisher

                        Publisher  missing_rows
315            Namco Bandai Games           663
251  Konami Digital Entertainment           573
20                     Activision           472
468                       Ubisoft           422
437                           THQ           405
..                            ...           ...
30                         Altron             1
32             American Softworks             1
466                   UEP Systems             1
470               Universal Gamex             1
475                           Vap             1

[511 rows x 2 columns]

In [25]:
df_pulito['Hit'] = df_pulito['Global_Sales'] > 1

C:\Users\LorenzoAnog\AppData\Local\Temp\ipykernel_9988\2785860961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pulito['Hit'] = df_pulito['Global_Sales'] > 1

In [26]:
df_pulito

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,Hit
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,True
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,True
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,True
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,True
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16711,Aiyoku no Eustia,PSV,2014.0,Misc,dramatic create,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,False
16712,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,False
16713,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,False
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,False
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,False

In [37]:
df_pulito['Hit'].value_counts()

Hit
False    13939
True      2005
Name: count, dtype: int64